@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    scroll-behavior: smooth;
}


.hamburger{
    position: absolute;
    
    width: 80%;
    width: 80%;
    height: 94vh;
    
    top: 6vh;
    transform: translateX(-105%);
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-items: center;
    transition: all 0.5s linear;
}



.hamburger .container{
  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    padding: 5%;
    text-decoration: none;
    list-style: none;
    
    gap: 1em;
}
.hamburger .container a{
    text-decoration: none;
    color: #e2e2e2;
    font-size: 1.5rem;
    
}




nav{
    
    z-index: 999;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 6vh;
    top: 0;
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .nav-ul a:not(:first-child){
    display: none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    list-style: none;
    
}




.ham-icon{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    user-select: none;
    height: 2em;
    gap: 0.2em;
    background-color: #ca323200;
    overflow: hidden;
}



.ham-icon .bar{
    width: 95%;
    height: 0.3em;
    background-color: #080808;
    transition: all 0.3s ease;
}

input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
input:checked ~ .ham-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:checked ~ .ham-icon .bar{
    width: 95%;
    height: 0.3em;
    display: flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    justify-content: center;
    transform: rotate(65deg);
}

input:checked ~ .ham-icon .bar1{
    width: 95%;
    height: 0.3em;
    
    transform: rotate(45deg);
}

input:checked ~ .ham-icon .bar2{
    width: 95%;
    height: 0.3em;
   
    transform: translateX(80%);
    opacity: 0;
    
    transition: all 0.5s ease-in-out;
}

input:checked ~ .ham-icon .bar3{
    width: 95%;
    height: 0.3em;
   
    transform: rotate(-45deg);
    
}


input:checked ~ .hamburger{
   
    position: absolute;
    width: 80%;
    height: 94vh;
    left: 0;
    top: 6vh;
    transform: translateX(0%);
   
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-items: center;
    transition: all 1s ease;
    color: #ccc;
    transition: 0.3s linear;
   
}

#country{
    
    
    
    display: flex;
    align-items: center;
    
    gap: 0.3em;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-family: 'Antonio', sans-serif;
}
#country .flag{
    
    width: 35px;
    height: 25px;
    
}

#country a{
    text-decoration: none;
    color: #080808;
}

nav li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    list-style: none;
    text-align: center;
    
}

.page-one{
    position: relative;
    width: 100%;
    height: 94vh;
    background-color: #707070;
    justify-content: center;

    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/bkg.png);
    background-size: 100;
    background-position: center;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-align: start;



    display: flex;
    flex-direction: column;
    padding: 20% 5% 5% 5%;
}

.title{
    width: 100%;
    height: 3em;
    
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    font-family: 'Antonio', sans-serif;
    font-size: 2rem;
    color: #e1e1e1;
    
}

.title h3{
    opacity: 0;
    display: inline-block;
    transform: translateY(200%);
    
}

.row2{
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
   
    justify-content: center;
}

.arrow-btn{
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(251, 251, 251);
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    scale: 0.1;
    
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.arrow-btn1{
    position:absolute;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    top: 0;
    scale: 0.1;
    opacity: 100;
    
   
}



.arrow-btn .line1{
    padding-left: 14%;
    width: 13px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.arrow-btn .line2{
    margin-left: -14%;
    transform: rotate(-45deg);
    width: 13px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.arrow-btn:hover{
    background-color: aliceblue;
    border: transparent;
    
}

.arrow-btn:hover .line1 {
    background-color: #171717;
}
.arrow-btn:hover .line2 {
    background-color: #171717;
}


/* page-2 */
.page-two{
    width: 100%;
    height: 100vh;
    background: #1E1E1E;
    padding: 5% 5% 5% 5%;
}

.page-two h4{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #707070;
    font-size: 1.1rem;
} 

.plain-cards{
    width: 100%;
    height: 100%;
    
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
.page-two .circle{
    position: absolute;
    top: -15%;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #313131;

}
.page-two .circle img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    object-position: center;
}

.page-two .circle1{
    background-repeat: no-repeat;
    background: size 100%;;
    background-position: center;
    
}

.page-two .circle2{
    background-repeat: no-repeat;
    background: size 100%;;
    background-position: center;
   
}

.page-two .circle3{
    background-repeat: no-repeat;
    background: size 100%;;
    background-position: center;
    
}

.page-two .cards {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3%;
    width: 100%;
    height: 25% ;
    color: #ccc;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}

/* footer */
footer{
    display: flex;
    width: 100%;
    height: 2em;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: 1rem;
    font-weight: lighter;

}
